body {
           background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHNnyq9D5alp9g0noR7I1-zIFl5driAnMpRIw9-SB-RvdVTyoH);
   background-repeat:no-repeat;
   background-size:cover;
     text-align:center;

 }

